<template>
    <lightning-card title="Configure LWC" icon-name="standard:account">
        <div class="slds-m-around_medium">
              <template if:true={accounts.data}>
                  <template for:each={accounts.data} for:item="acc">
                      <p key={acc.Id}>{acc.Name}</p>
                  </template>
              </template>
             </div>
      </lightning-card>
</template>